* {}

.tf {
    width: 200px;
    height: 30px;
    border: 1px solid rgb(136, 34, 34);
    border-radius: 5px;
    background-color: rgb(224, 219, 213);
    color: rgb(126, 99, 171);
    box-shadow: 2px 3px;
}

h1 {
    color: rgb(215, 172, 185);
}

a {
    color: rgb(152, 84, 216);
}

/* a:hover {
    color: brown;
} */

a:visited {
    color: rgb(143, 9, 83)
}