{%extends 'base.html'%}
{%block title%}HM STORE|login{%endblock%}
{%block content%}


<div class="container overflow-hidden text-center mt-5">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3"><!-- From -->
  <div class="container"> 
      <div >
        <h2>Login From</h2><br>
        <p style="color:red;">{{ err }}</p>
        <form action="{% url 'login' %}" method="POST"  class="form grid">
          {% csrf_token %}
          <input type="text" placeholder="Enter Username" name="username">
          <br>
          <br>
          <input type="text" placeholder="Enter Password" name="password">
          <br>
          <br>
          <input type="submit" class="primary-btn">
        </form>
      </div>
    </div> </div>
    </div>
    <div class="col">
      <div class="p-3">        <!-- From -->
  <div class="container" > 
      <div>
  <h2>Regestration From</h2>
        <p style="color:green;">{{ msg }}</p>
        <p style="color:red;">{{ rerr }}</p>
        <form action="{% url 'register' %}" method="POST"  class="form grid">
          {% csrf_token %}
          
          <input type="text" placeholder="Enter Username" name="username">
          <br>
          <br>
          <input type="text" placeholder="Enter lastname" name="lastname">
          <br>
          <br>
          <input type="text" placeholder="Enter email"   name=" email">
          <br>
          <br>
          <input type="password" placeholder="Enter Password" name="password">
          <br>
          <br>
          <input type="submit" class="primary-btn">
        </form>
      </div>

  </div> </div>
    </div>
  </div>
</div>
 

{%endblock%}
       
