
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {
            countries()
        })

        function countries() {

            $.get('countries', {}, function (rt) {
                options = "<option>---Select Country---</option>"
                rt.data.map(ele => {
                    options += `<option value='${ele.id}'>${ele.name}</option>`
                })
                $("#country").html(options)
            })
        }



        function states(cid) {
            $.get("states", { cid }, function (rt) {
                options = "<option>---Select State---</option>"
                rt.data.map(ele => {
                    options += `<option value='${ele.id}'>${ele.name}</option>`
                })
                $("#state").html(options)
            })
        }


        function cities(sid) {
            $.get("cities", { sid }, function (rt) {
                options = "<option>---Select Cities---</option>"
                rt.data.map(ele => {
                    options += `<option value='${ele.id}'>${ele.name}</option>`
                })
                $("#city").html(options)
            })
        }


        function search() {

            const data = document.getElementById("search").value
            $.get('search', { data }, function (rt) {
                // console.log(rt.data[0].name)

                row = "<ul>"
                rt.data.map(ele => {
                    row += "<li>" + ele.name + "</li>"
                })
                row += "</ul>"


                $("#tdata").html(row)
            })
        }

    </script>




</head>

<body>


    <input type="text" id="search" onkeyup="search()">
    <!-- <button onclick="search()">Click here</button> -->
    <div id="tdata"></div>


    <hr>

    <select name="country" id="country" onchange="states(value)">
        <option value="0">---Select country---</option>

    </select>

    <select name="state" id="state" onchange="cities(value)">
        <option value="0">---Select state---</option>
    </select>

    <select name="city" id="city">
        <option value="0">---Select city---</cite></option>
    </select>


</body>

</html>