<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto card p-3 mt-3">
                <h2 align="center">Studetn Details</h2>
                <hr>
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Profile</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Age</th>
                        <th>Action</th>
                        <th>
                            <a href="{%url 'userlogout'%}" class="btn btn-danger">Logout</a>
                        </th>
                    </tr>

                    {%for std in students%}
                    <tr>
                        <td>{{std.id}}</td>
                        <td><img src="media/{{std.image}}" alt="{{std.image}}" height="50px" width="50px"></td>
                        <td>{{std.name}}</td>
                        <td>{{std.email}}</td>
                        <td>{{std.phone}}</td>
                        <td>{{std.age}}</td>
                        <td><a href="{%url 'delete'%}?sid={{std.id}}" class="btn btn-danger">Delete</a></td>
                        <td><a href="{%url 'edit'%}?sid={{std.id}}" class="btn btn-primary">Update</a></td>
                    </tr>
                    {%endfor%}
                </table>
                <a href="{%url 'index'%}" class="btn btn-success">Back to Registration</a>
            </div>
        </div>
    </div>
</body>

</html>