<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
                <form action="">

                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter name">

                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="Enter email">

                    <label for="phone">Phone</label>
                    <input type="text" name="phone" id="phone" placeholder="Enter phone">

                    <label for="age">Age</label>
                    <input type="text" name="age" id="age" placeholder="Enter age">

                    <input type="submit">

                </form>
</body>
</html>